.model-list {
  ul li {
    &:last-of-type {
      a { border-bottom: 1px solid @color-silver; }
    }

    a, a:visited {
      color: @color-black;
      display: block;
      position: relative;
      padding: 10px 20px;
      border: 1px solid @color-silver;
      border-bottom: none;
      border-left: none;

      &:hover .icon-pencil { display: block; }

      &:hover, &.on {
        color: @color-white;
        background: lighten(@color-black, 5%);
      }

      > div:first-child {
        font-size: 16px;
        font-weight: 600;
      }

      .icon-pencil {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}
