input[type='submit'],
input[type='reset'],
button,
.button {
  color: @color-white;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  border: none;
  background: lighten(@color-black, 5%);
  .user-select(none);
  .transition(all ease-in-out 100ms);

  &.rounded { .border-radius(5px); }
  &.icon { font-family: fontello; }
  &:hover { background: lighten(@color-black, 10%); }

  &:active, &.active {
    .box-shadow(inset 0px 2px 5px 1px rgba(150, 150, 150, .5));
  }
}
