// Media Queries
@media_desktop: ~"only screen and (min-width: 1025px)";
@media_tablet: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@media_mobile: ~"only screen and (max-width: 767px)";
@media_retina: ~"(min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.25)";

// Clearfix mini
.clearfix() {
  zoom: 1;
  &:before, &:after {content: ''; display: table;}
  &:after {clear: both;}
}

.triangle(@width, @color) {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: @width;
  border-color: @color;
  .size(0px);
}

.vertical-center(@height, @position: absolute) {
  position: @position;
  top: 50%;
  margin-top: -@height/2;
}
